h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(46, 46, 46);
}

h2 {
    font-size: 45px;
    margin-bottom: 50px;
    color: rgb(61, 61, 61);
}

h3 {
    font-size: 28px;
    color: gray;
}

p {
    font-size: 25px;
    color: rgb(58, 58, 58);
}